<h2 mat-dialog-title>Add Employee</h2>
<form [formGroup]="empForm" class="emp-form">
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      @if (empForm.controls.firstName.hasError('required')) {
        <mat-error>First Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      @if (empForm.controls.lastName.hasError('required')) {
        <mat-error>Last Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" />
      @if (empForm.controls.age.hasError('required')) {
        <mat-error>Age is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="empForm.value"
      [disabled]="!isFormValid()"
      cdkFocusInitial
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
