<div fxLayout="column" fxFlexFill fxLayoutGap="5px">
  <mat-toolbar color="primary">
    <span>EMPLOYEE APP</span>
    <div fxFlex fxFlexFill></div>
    <div>
      <ng-container *ngIf="user; else nouser">
        <mat-label>{{ user }}</mat-label>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>person</mat-icon>
        </button>
      </ng-container>
      <ng-template #nouser>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </ng-template>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
        <mat-divider></mat-divider>
        <button (click)="logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div fxFlex style="overflow: scroll">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
      All Rights Reserved 2003-2020 &#64; Karthik Prasad
    </div>
  </mat-toolbar>
</div>
