.toolbar-primary {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.btn-accent {
  background-color: var(--mat-sys-tertiary);
  color: var(--mat-sys-on-tertiary);
}
